@import '../../styles/global';

@keyframes pulse-animation {
  0% {opacity: 0};
  50% {opacity: 1};
  100% {opacity: 0};
}

.app {
  background-color: $layout-secondary-color;
  padding: 2vh 17vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &-title{
      position:absolute;
      width: 25vw;
      top: -1vw;
      animation: pulse-animation 2s ease-in-out infinite;
    }

    &-logo{
      width: 25vw;
    }
  }
}